# this is file: prompt-eng/config.cfg
# Point to the target Ollama or Open-WebUI Server
# !!! YOU NEED TO ADJUST THE URL TO YOUR SERVER !!!
# !!! IF USING OPEN-WEBUI, PROVIDE THE API_KEY !!!

chatbot_api_host=chat.hpc.fau.edu
#CHATBOT_API_HOST=localhost:11434
bearer=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjRkMzk1MWNlLWQ2YWMtNDdlZi1hNzFhLTFkM2ViMjNmN2QxYiJ9.W-1HGRH9qIEgND4m_F8eCp5UnA3RJbZL4qeT9adCZBM
discord_token=MTMzMTM1NjU0NjIwNjEzODQ0OA.GThjJU.5aX5XJZMw6zMeLv3LMc3JcfbJL_MUxC6Z-Z7xo